openapi: 3.0.0
info:
  title: Open API
  version: 1.0.0
  description: |
    수집 중인 모니터링 정보를 추출하여 별도로 활용하고자 하는 경우 Open API를 통해 해당 정보를 추출할 수 있는 기능을 제공합니다. 계정 API 토큰 및 프로젝트 API 토큰 및 프로젝트 코드를 파라미터로 전달하여 수집된 정보를 획득할 수 있습니다.
    
    ## Open API Token 확인

    토큰은 계정 API 토큰과 프로젝트 API 토큰으로 구분됩니다. 계정 API 토큰은 프로젝트의 목록 정보를 취득하기 위한 용도로, 프로젝트 API 토큰은 프로젝트의 모니터링 정보를 취득하기 위한 용도로 활용합니다.

    프로젝트 코드는 프로젝트 진입 시 브라우저 화면 상단의 윈도우 또는 탭 제목에 '`[{프로젝트 코드}]` Cloud Application Monitoring'와 같이 표시되는 정보를 통해 확인할 수 있습니다. API 토큰을 변경하려면 각 화면의 ***재발급*** 또는 ***토큰 재발급*** 버튼을 선택하세요.
servers:
  - url: 'https://api.whatap.io'
tags:
  - name: 메타성 목록 조회
    description: 프로젝트 및 그룹, 활성화된 에이전트 목록을 조회할 수 있는 API 입니다.
paths:
  /open/api/json/projects:
    get:
      summary: 프로젝트 목록 조회
      operationId: getProjectsList
      description: 프로젝트 목록을 조회합니다.
      tags:
        - 메타성 목록 조회
      parameters:
        - name: x-whatap-token
          in: header
          required: true
          schema:
            type: string
          description: 계정 API 토큰 {{ACCOUNT_API_TOKEN}}
      responses:
        '200':
          description: 프로젝트 목록 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        groupName:
                          type: string
                          description: 프로젝트 상위 그룹 이름
                        projectCode:
                          type: integer
                          description: 프로젝트 코드
                        projectName:
                          type: string
                          description: 프로젝트 이름
                        createTime:
                          type: string
                          format: date-time
                          description: 프로젝트 생성 날짜
                        lastUpdatedTime:
                          type: string
                          format: date-time
                          description: 프로젝트 수정 날짜
                        status:
                          type: string
                          description: 프로젝트 상태
                        productType:
                          type: string
                          description: 서버 유형
                        platform:
                          type: string
                          description: 서버 플랫폼
                        gatewayName:
                          type: string
                          description: 게이트웨이 이름
                        apiToken:
                          type: string
                          description: 프로젝트 API 토큰
                  accountEmail:
                    type: string
                    description: 사용자 계정 이메일 주소
                  total:
                    type: integer
                    description: 프로젝트 수
                example:
                  data:
                    - groupName: ""
                      projectCode: 35
                      projectName: "APM_TEST2"
                      createTime: "2018-10-19T07:17:03.774"
                      status: "subscribe"
                      productType: "APM"
                      platform: "JAVA"
                      gatewayName: "LOCAL"
                      apiToken: "5**********************R"
                  accountEmail: "xxx@whatap.io"
                  total: 6
      x-codeSamples:
        - lang: 'curl'
          source: |
            curl -L \
              -w "\n" \
              -H "x-whatap-token: {{ACCOUNT_API_TOKEN}}" \
              "https://api.whatap.io/open/api/json/projects"
  /open/api/json/project:
    get:
      summary: 프로젝트 정보 조회
      description: 애플리케이션 및 서버 상품의 프로젝트 정보를 조회합니다.
      operationId: getProjectInfo
      tags:
        - 메타성 목록 조회
      parameters:
        - name: x-whatap-token
          in: header
          required: true
          schema:
            type: string
          description: 프로젝트 API 토큰 {{PROJECT_API_TOKEN}}
        - name: x-whatap-pcode
          in: header
          required: true
          schema:
            type: string
          description: 프로젝트 코드 {{projectCode}}
      responses:
        '200':
          description: 프로젝트 정보 조회 성공
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/APM'
                  - $ref: '#/components/schemas/Server'
            examples:
              apm:
                summary: 애플리케이션 프로젝트 정보 조회
                value:
                  platform: "JAVA"
                  createTime: "Tue Sep 18 08:34:27 GMT 2018"
                  gatewayName: "Office-OTE"
                  projectCode: 1**1
                  status: "Subscribe"
                  lastUpdatedTime: "Tue Sep 18 08:34:34 GMT 2018"
                  name: "SEO_APM"
                  productType: "APM"
              server:
                summary: 서버 프로젝트 정보 조회
                value:
                  pname: "LOCAL_PC"
                  timezone: 9,
                  regionName: "LOCAL"
                  values:
                    servers:
                      public_ip: "192.168.1.0"
                      os_cpuvendor: "Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz"
                      agent_created: "1572406071216"
                      ip: "192.168.1.0"
                      os_arch: "amd64"
                      actTime: 1572406264112
                      cpu_cores: "8"
                      oid: -1030311093
                      isActive: true
                      okind: ""
                      version: "1.2.4"
                      tags: [
                          "network:169.254.0.0/16",
                          "network:192.168.1.0/24",
                          "java",
                          "OpenVpn",
                          "oracle",
                          "ftp"
                      ]
                      inactTime: 0
                      oname: "DESKTOP-KEIPLT5"
                      os_name: "windows"
                      startTime: 1572406263602
                      os_memory: "17036419072"
                      os_status: "warning"
      x-codeSamples:
        - lang: 'curl'
          source: |
            curl -L \
            -w "\n" \
            -H "x-whatap-token: {{PROJECT_API_TOKEN}}" \
            -H "x-whatap-pcode: {{projectCode}}" "https://api.whatap.io/open/api/json/project"

components:
  schemas:
    APM:
      type: object
      properties:
        platform:
          type: string
          description: 애플리케이션 상품 플랫폼
        createTime:
          type: string
          description: 프로젝트 생성 날짜
        gatewayName:
          type: string
          description: 게이트웨이 이름
        projectCode:
          type: number
          description: 프로젝트 코드
        status:
          type: string
          description: 프로젝트 상태
        lastUpdatedTime:
          type: string
          description: 프로젝트 수정 날짜
        name:
          type: string
          description: 프로젝트 이름
        productType:
          type: string
          description: 애플리케이션 상품 유형
    Server:
      type: object
      properties:
        pname:
          type: string
        timezone:
          type: integer
        regionName:
          type: string
        values:
          type: object
          properties:
            servers:
              type: array
              items:
                type: object
                properties:
                  public_ip:
                    type: string
                    format: ipv4
                  os_cpuvendor:
                    type: string
                  agent_created:
                    type: string
                    format: date-time
                  ip:
                    type: string
                    format: ipv4
                  os_arch:
                    type: string
                  actTime:
                    type: integer
                    format: int64
                  cpu_cores:
                    type: string
                  oid:
                    type: integer
                    format: int32
                  isActive:
                    type: boolean
                  okind:
                    type: string
                  version:
                    type: string
                  tags:
                    type: array
                    items:
                      type: string
                  inactTime:
                    type: integer
                  oname:
                    type: string
                  os_name:
                    type: string
                  startTime:
                    type: string
                    format: date-time
                  os_memory:
                    type: string
                  os_status:
                    type: string